# Core Framework
streamlit 

# NLP Libraries
textblob
nltk

# Computer Vision
opencv-python-headless
deepface==0.0.90
tensorflow==2.15.0
tf-keras
pandas

# Image Processing
Pillow
numpy

# Utilities
requests
python-dateutil
